# Bytecode
__pycache__/
*.py[cod]
*.log

# Entorno virtual
venv/
env/
ENV/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de bases de datos
*.sqlite3

# Configuración de VS Code
.vscode/

# Archivos temporales
*.tmp
*.bak
*.swp
