{% extends 'core/base.html' %}
{% block content %}
    <h2>Buscar Pedidos</h2>
    <form method="get">
        <input type="text" name="cliente" placeholder="Buscar por cliente">
        <button type="submit">Buscar</button>
    </form>


<ul>
{% for pedido in pedidos %}
    <li>
        Pedido de {{ pedido.cliente.nombre }} el {{ pedido.fecha|date:"d/m/Y H:i" }} -
        Estado: {{ pedido.estado }}<br>
        <strong>Productos:</strong>
        <ul>
        {% for producto in pedido.productos.all %}
            <li>{{ producto.nombre }} - ${{ producto.precio }}</li>
        {% empty %}
            <li>No hay productos en este pedido.</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% endblock %}
