{% extends "core/base.html" %}
{% block content %}
    <h2>Buscar Vianda</h2>
    <form method="get" class="mb-3 d-flex">
        <input type="text" name="nombre" placeholder="Nombre del producto" class="form-control me-2" value="{{ query }}">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if resultados %}
        <ul class="list-group">
            {% for producto in resultados %}
                <li class="list-group-item">{{ producto.nombre }} - {{ producto.descripcion }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}
